h1{
	text-align: center;
	color: white;
	font-family: Georgia;
	text-shadow: 2px 0 0 #FFDC00, -2px 0 0 #FFDC00, 0 2px 0 #FFDC00, 0 -2px 0 #FFDC00, 1px 1px #FFDC00, -1px -1px 0 #FFDC00, 1px -1px 0 #FFDC00, -1px 1px 0 #FFDC00;

	
}
/* In h1 I aligned my text in the center and turned it white. */
table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}


 body {
  background: #141E30;
  background: -webkit-linear-gradient(-45deg, #800000, #FFA500);
  background: linear-gradient(-45deg, #800000, #FFA500);
  margin: 5;
  text-align: center;
}
