h1{
	text-align: center;
	color: white;
	font-family: Georgia;
	text-shadow: 2px 0 0 #FFDC00, -2px 0 0 #FFDC00, 0 2px 0 #FFDC00, 0 -2px 0 #FFDC00, 1px 1px #FFDC00, -1px -1px 0 #FFDC00, 1px -1px 0 #FFDC00, -1px 1px 0 #FFDC00;
	-webkit-animation: shadowcolor 0.9s infinite;
    animation: shadowcolor 0.9s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
	text-align: center;
	
}
/* In h1 I aligned my text in the center and turned it white. THis also changes the colour around the title*/
table {
  border-collapse: collapse;
}
/* this creates a border */
table, th, td {
  border: 1px solid black;
}

@keyframes shadowcolor {

    0% {
        background-color: #45a3e5
    }

    30% {
        background-color: #66bf39
    }

    60% {
        background-color: #eb670f
    }

    90% {
        background-color: #f35
    }

    100% {
        background-color: #864cbf
    }
}
/* this changes the colour of my background using the variable shadorcolor */
@keyframes bgcolor {
    0% {
        background-color: #45a3e5
    }

    30% {
        background-color: #66bf39
    }

    60% {
        background-color: #eb670f
    }

    90% {
        background-color: #f35
    }

    100% {
        background-color: #864cbf
    }
}


@keyframes frank
{
    0% {
        background-color: #66bf39
    }

    30% {
        background-color: #45a3e5
    }

    60% {
        background-color: #eb670f
    }

    90% {
        background-color: #f35
    }

    100% {
        background-color: #864cbf
    }
} 
body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
	text-align: center;
}
/* this changes the colour around the body */

th,td:hover{
    cursor: pointer;
	background-color: frank;
	animation:frank 1s infinite;
}
/* this changes each little class' colours when you hover over it */

